/* #root {
  background-color: aqua;
  top: 0;
} */
.box {
  width: 300rem;
}

.field {
  background-color: #30414b;
  margin-bottom: 1em;
}
.field:hover {
  filter: brightness(120%);
  transition: 0.4s;
}

.box2 {
  margin-top: -0rem;
  width: 150%;
  margin-left: -5rem;
  border: 2px solid #30414b;
  padding: 32px 12px 32px 12px;
  box-shadow: 5px 5px #888888;
}

.btn:hover {
  filter: brightness(110%);
}

.container {
  background-color: #30414b;
  color: #fff;
  width: 72rem;
}