.contained {
    width: 100%; 
}
.side {
    width: 20%;
    height: 85vh;
    background-color: #1A1919;
    position: absolute;
    /* 1A1919    */
}

.form-contain {
    background-color: #1A1919;
    margin-left: 274px;
    width: 78%;
    margin-bottom: 16px;
}

.table-contain {
    background-color: #1A1919;
    /* margin-left: 274px; */
    width: 99.3%;
    margin-bottom: 16px;
}

.form-contain2 {
    margin-left: 274px;   
}

.contain-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.contain-table{
    background-color: #3282f186;
    color: #fff;
    flex: 1;
}

.contains {
    width: 78%;
    height: 15rem;
    margin-top: 7rem;
    background-color: #1A1919;
    margin-left: 274px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.one {
    margin: 0rem 0 4rem 0;
    padding: 0 5rem 0 5rem;
}

.two {
    background-image: linear-gradient(#3282f186, black);
    margin: 0em 0 3rem 0;
    padding: 0 5rem 0 5rem;
}

.title {
  margin-bottom: 90px;
}

.btn1 {
   display: flex;
   justify-content: flex-end;
}

.lists{
padding: 3rem 0 3rem 0;
text-align: center;
font-size: 1.3rem;
margin: 0 1rem 0rem 1rem;
cursor: pointer; 
background: linear-gradient(217deg, #3282f1, rgba(255,0,0,0) 50.71%),
            linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, rgba(21, 21, 21, 0.8), rgba(0,0,255,0) 100%); 
box-shadow: 0 0 5px 1px #3282f1;
}
.btn-col{
    background: linear-gradient(217deg, #3282f1, rgba(255,0,0,0) 50.71%),
            linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, rgba(21, 21, 21, 0.8), rgba(0,0,255,0) 100%); 
    box-shadow: 0 0 5px 1px #3282f1;
}

.lists:hover{
    transform: translateY(1px);
    background: linear-gradient(217deg, #3282f1, rgba(255,0,0,0) 50.71%),
            linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, #3282f1, rgba(0,0,255,0) 100%); 
    transition: 0.4s;
}
.btn1:hover {
    transform: translateY(-2px);
    background: linear-gradient(217deg, #3282f1, rgba(255,0,0,0) 50.71%),
            linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, #3282f1, rgba(0,0,255,0) 100%); 
    transition: 0.4s;
}

.contain-info{
    width: 300px;
    padding: 0 0.3rem 0 0.3rem;
    background: linear-gradient(217deg, #f1c832, rgba(255,0,0,0) 50.71%),
            linear-gradient(127deg, #3282f1 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, #f1c832, rgba(0,0,255,0) 100%); 
}



/* LOCATION CSS */
.image {
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    margin: 2rem;
    background-size: cover;
    position: relative;
}

.btnloc {
    top: 0;
    /* display: flex; */
    /* justify-content: flex-end;
    z-index: 1; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 2, 65, 0.57);
}

.mob-box {
    height: 80vh;
    width: 60vw;
    background-color: #fafdffa8;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 6rem;
    margin-right: 3rem;
    box-shadow: 0 0 5px 1px #f1329b;
}

.line {
   height: 29rem;
   width: 2px;
   margin-left: 1rem;
   margin-top: -3rem;
   background: #2401255e;
   box-shadow: 0 0 5px 1px #fd098f96;
}

.send {
    background: linear-gradient(217deg, #000000, rgba(255,0,0,0.5) 50.71%),
            linear-gradient(127deg, #000000 , rgba(0,255,0,0) 50.71%),
            linear-gradient(336deg, rgba(27, 13, 178, 0.8), rgba(0,0,255,0) 100%); 
    box-shadow: 0 0 5px 1px #3282f1;
}


/* Responsive */

   @media (max-width: 1280px) {
    .side {
        width: 27%;
        height: 96vh;
    }
    .contains {
        margin-left: 180px;
    }
    .form-contain {
        background-color: #1A1919;
        margin-left: 14px;
        width: 95%;
        margin-top: 430px;
    }
    .form-contain2 {
        margin-left: 14px;   
    }
    .contain-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    .contain-table{
        background-color: #3282f186;
        color: #fff;
        flex: 1;
    }
    .contain-info{
        width: 240px;
    }
  }
  
  @media (max-width: 1024px) {
    .side {
        width: 27%;
        height: 96vh;
    }
    .contains {
        margin-left: 180px;
    }
    .form-contain {
        background-color: #1A1919;
        margin-left: 14px;
        width: 95%;
        margin-top: 430px;
    }
    .form-contain2 {
        margin-left: 14px;   
    }
    .contain-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    .contain-table{
        background-color: #3282f186;
        color: #fff;
        flex: 1;
    }
    .contain-info{
        width: 240px;
    }
    .mob-box {
        width: 90vw;
        margin-right: 2rem;
    }
  }
    
  @media (max-width: 768px) {
    .side {
        width: 27%;
        height: 96vh;
    }
    .contains {
        margin-left: 134px;
    }
    .form-contain {
        background-color: #1A1919;
        margin-left: 14px;
        width: 95%;
        margin-top: 430px;
    }
    .form-contain2 {
        margin-left: 14px;   
    }
    .contain-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    .contain-table{
        background-color: #3282f186;
        color: #fff;
        flex: 1;
    }
    .contain-info{
        width: 240px;
    }
    .mob-box {
        width: 90vw;
        margin-right: 2rem;
    }
   }

  @media (max-width: 640px) {        

    /* .scroll {
      width: 400px;
      height: 400px;
      margin-left: 0px;
      top: 50px;
      overflow: scroll;
    }
    ::-webkit-scrollbar {
      background: transparent;
      width: 20px;
    }
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(transparent, #305a27);
      border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(transparent, #4d9c02);
    }
    ::-webkit-scrollbar-corner {
      border-radius: 20px;
      background: lightgray;
    } */
  }